/* ##Units */

/* Absolute */
/* Pixels(px) / 
pt,cm, mm, in (to print exctaly */

/* Relative */
/* Relative to font-size: em and rem */
/* Relative to viewport: vw,vh, vmin, vmax */

/* Percentage */
/* Relative to their parent, used fot widths */

.container{
    max-width: 620px;
} 

/* EM: relative to fontsize */
body{
    font-size: 16px;
}

.container{
    /* The font-size will be 150% bigger than 16px */
    font-size: 1.5em;
}

/* Relative to the fontsize of the element */
h1 {
    font-size: 24px;
    margin-bottom: 1em; /* 24 px */
    margin-bottom: 2em; /* 48px */
}

/* Rem: short for Root EM. Relative to the root of our document */

/* Most of time: */
/* Font-size = rem
Padding and margin: em
Widths: em or percentage */

.container{
    display: flex;
    /* add espace between the items */
    justify-content: space-between;

    /* add a space around each element */
    justify-content: space-around;

    /* add space and balance */
    justify-content: space-evenly;
}

.parent{
    display:flex;
    align-items: center;
     align-items: flex-start; /*align to the top */
     align-items: stretch; /*default. Go back to 'normal' */
     align-items: flex-end; /*align to the bottom */
}