/* ##Units */

/* Absolute */
/* Pixels(px) / 
pt,cm, mm, in (to print exctaly */

/* Relative */
/* Relative to font-size: em and rem */
/* Relative to viewport: vw,vh, vmin, vmax */

/* Percentage */
/* Relative to their parent, used fot widths */

.container{
    max-width: 620px;
} 

/* EM: relative to fontsize */
body{
    font-size: 16px;
}

.container{
    /* The font-size will be 150% bigger than 16px, that is their parent */
    font-size: 1.5em;
}

/* Rem: short for Root EM. Relative to the root of our document */

/* Most of time: */
/* Font-size = rem
Padding and margin: em
Widths: em or percentage */